@charset "UTF-8";
@import "catppuccin.css";

:root {
    /* Background */
    --background: var(--base);
    --on-background: var(--overlay0);
    --on-background-variant-subtle: var(--blue);
    --on-background-variant-muted: var(--teal);
    --on-background-variant-active: var(--green);
    --on-background-variant-hover: var(--sky);
    --on-background-variant-focus: var(--lavender);
    
    --surface: var(--surface0);
    --on-surface: var(--surface2);
    
    /* Text */
    --foreground: var(--text);
    --on-foreground: var(--subtext1);

    --attention-1: var(--rosewater);
    --attention-2: var(--mauve);
    --attention-3: var(--red);
    --attention-4: var(--maroon);

    --selection: var(--selection-color);
    --on-selection: var(--inverted-text);

    --link: var(--blue);
    --visited-link: var(--sapphire);
}

/* Fonts imports*/
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./SpaceMono-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("./SpaceMono-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("./SpaceMono-Italic.ttf") format('truetype');
}

@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("./SpaceMono-BoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-optical-sizing: auto;
    font-display: swap;
    src: url("./LibreFranklin-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-optical-sizing: auto;
    font-display: swap;
    src: url("./LibreFranklin-Italic-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("LibreBaskerville-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("./LibreBaskerville-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("./LibreBaskerville-Italic.ttf") format('truetype');
}

/* Color */
@media (prefers-color-scheme: dark) {
    .dayonly {
	display: none;
    }

}
@media (prefers-color-scheme: light) {
    .darkonly {
	display: none;
    }
}

/* Layout */
::selection {
    background: var(--selection);
    color: var(--on-selection);
}

/* Layout */
@media (min-width: 1000px) {
    html {
	font-size: 14px;
    }
}

@media (max-width: 1000px) {
    html {
	font-size: 12px;
    }
}

@media (max-width: 600px) {
    html {
	font-size: 10px;
    }
}

body {
    /* Layout */
    min-height: 100vh;
    max-width: 100em;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    
    /* Colors */
    background-color: var(--background);
    color: var(--foreground);
    
    /* Fonts */
    font-family:"Libre Baskerville", serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: justify;
    hyphens: auto;
}

header, footer {
    font-family: "Libre Franklin", sans;
    /* Border and shadow*/
    box-shadow: 15px 15px 0 -5px var(--sapphire);
    background: var(--mantle);
    /* border: 1px solid var(--sapphire); */
}

header {
    /* Flex content */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    /* Padding */
    padding: 20px;
    /* Font */
    font-weight: bold;
    margin-top: 20px;
    /* Border */
    /* border-bottom: 2px solid var(--on-background); */
}

header nav {
    font-size: 125%;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 1em;
}

header nav ul li:first-child {
    margin-left:0;
}

.title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
}

.title h1 {
    font-size: 200%;
    margin-left: 1em;
    margin-right: 1em;
}

.avatar img {
    border-radius:50%;
    border: var(--sapphire);
    border-style: solid;
    border-width: 3px;
}

footer {
    text-align: center;
    margin-top: 2rem;
    font-size: small;
    line-height: 1;
    margin-bottom: 20px;
    /* border-top: 2px solid var(--on-background); */
    padding-left: 10px;
    padding-right: 10px;
}

header, footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    margin-left:auto;
    margin-right:auto;
    width:90%;
}

h1, h2, h3 {
    font-family: "Libre Franklin",sans;
    font-weight: bold;
}

h1 {
    font-size: 300%;
}

nav {
    margin: auto;
}

hgroup {
    line-height:1.25;
}

hgroup > h1 {
    margin-bottom:0;
}

hgroup > p {
    font-family: "Libre Franklin",sans;
    font-weight: bold;
    font-size: large;
    margin-top: 0;
}

.org-src-container, blockquote, .abstract {
    background: var(--mantle);
    padding: 0.5em 1em;
    margin: 1em 2em 2em;
}

.org-src-container {
    box-shadow: 0px 3px 0px 0px var(--attention-1);
}

blockquote {
    box-shadow: 0px 3px 0px 0px var(--attention-1);
}

.abstract {
    box-shadow: 0px 3px 0px 0px var(--attention-1);
}

.csl-bib-body {
    /* No bibliography justify*/
    text-align:left;
}

/* Links */
a {
    color: var(--link);
    text-decoration: none;
}

a:visited {
    color: var(--visited-link);
} /* Liens visités */

a:hover {
    text-decoration: underline;
} /* Liens survolés */

a:active {
    color: var(--on-background-variant-active);
} /* Liens actifs */

pre, kbd, code {
    font-family: "Space Mono", "DejaVu Sans Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-wrap: auto;
}

kbd, code {
    background-color: var(--mantle);
    box-shadow: 0.1em 0.2em 0.2em var(--crust);
    padding: 0.1em 0.2em;
}

/*  */
.see {
    margin-left: 1em;
    font-size: small;
    font-style: italic;
}

/* Source Code */
.org-src-container {
    position: relative;
}

.org-src-container > pre::before {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .5em;
    color: var(--attention-1);
    font-size: 80%;
    font-weight: bold;
}

.org-src-container > pre.src-scheme::before {
  content: "Scheme";
}

.org-src-container > pre.src-shell::before {
  content: "Shell";
}

.org-src-container > pre.src-bash::before {
  content: "bash";
}

.org-src-container > pre.src-yaml::before {
  content: "yaml";
}

.org-src-container > pre.src-diff::before {
  content: "diff";
}

.org-src-container > pre.src-python::before {
  content: "Python";
}

.org-keyword {
    color: var(--lavender);
    font-weight:bold;
}

.org-operator {
    color: var(--sky);
}

.org-function-name {
    font-weight:bold;
    color: var(--sky);}

.org-constant, .org-variable-name {
    color: var(--teal);
} 

.org-comment, .org-comment-delimiter {
    color: var(--subtext0);
    font-style: italic;
}

.org-builtin {
    color:var(--blue);
}

.org-string {
    color: var(--flamingo);
}

.org-diff-header, .org-diff-file-header, .org-diff-hunk-header {
    color: var(--subtext0);
}

.org-diff-indicator-removed, .org-diff-removed {
    color: var(--red);
}

.org-diff-indicator-added, .org-diff-added {
    color: var(--blue);
}

/* .org-sh-quoted-exec {} */


/* Listes */
ul {
    // list-style-type: none;
}

/* Tags */
.post-tags {

}

.post-tags ul {
    margin: 0;
    padding: 0;
}

.post-tags ul li {
    display: inline;
    margin-left: 0.5em;
    background-color: var(--mantle);
    box-shadow: 0.1em 0.2em 0.2em var(--crust);
    padding: 0.1em 0.2em;
}

.post-tags ul li:first-child {
    margin-left:0;
}

.tag {
    font-family: "Space Mono", "DejaVu Sans Mono", monospace;
    font-style: normal;
}


/* Tables */
table {
    margin:1em auto;
    border-top:2px solid;
    border-collapse:collapse
}

table, thead {
    border-bottom:2px solid;
}

table td+td, table th+th {
    border-left:1px solid;
}

tbody {
    border-top: 1px solid;
}

td,th {
    padding: .3em .6em;
    vertical-align: middle;
}

/* Images */
img, iframe {
    display: block;
    margin: auto;
    max-width: 100%;
}

.coverfig > img {
    width: 100%;
    margin-bottom: 3rem;
}

.svgfig > img {
    width: 80%;
}

.pdf > iframe {
    width: 80%;
} 

/* TODO */
.todo {
    font-family: "Space Mono", "DejaVu Sans Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-wrap: auto;
    background-color: var(--mantle);
    box-shadow: 0.1em 0.2em 0.2em var(--crust);
    padding: 0.1em 0.2em;
}
