<!doctype html>
<html lang="fr-fr">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>
      {% block title %}{{ site_name | default("weblorg website") }}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if site_owner is defined %}<meta name="author" content="{{ site_owner }}">{% endif %}
    {% if site_description is defined %}<meta name="description" content="{{ site_description }}">{% endif %}
    {% if site_keywords is defined %}<meta name="keywords" content="{{ site_keywords }}">{% endif %}
    {% block meta %}{% endblock %}
    <!-- Rss -->
    <!--link rel="alternate" type="application/rss+xml" title="RSS Feed"  href="{{ url_for("feed") }}" /-->
    <link rel="stylesheet" href="{{ url_for("static", file="style.css") }}" type="text/css" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for("static", file="apple-icon-57x57.png") }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for("static", file="apple-icon-60x60.png") }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for("static", file="apple-icon-72x72.png") }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for("static", file="apple-icon-76x76.png") }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for("static", file="apple-icon-114x114.png") }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for("static", file="apple-icon-120x120.png") }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for("static", file="apple-icon-144x144.png") }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for("static", file="apple-icon-152x152.png") }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for("static", file="apple-icon-180x180.png") }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for("static", file="android-icon-192x192.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for("static", file="favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for("static", file="favicon-96x96.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for("static", file="favicon-16x16.png") }}">
    <link rel="manifest" href="{{ url_for("static", file="manifest.json") }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for("static", file="ms-icon-144x144.png") }}">
    <meta name="theme-color" content="#ffffff">
    {% endblock %}
  </head>
  <body>
    {# Top navigation bar #}
    {% block nav %}
    <header>
      <div class="title">
	<div class="avatar">
	  <a href="{{ url_for("index") }}">
	    <img width="100" height="100" alt="Un hiboux grognon sur un globe terrestre" src="{{ url_for("static", file="archi.jpg") }}">
	  </a>
	</div>
	<h1>
          <a href="{{ url_for("index") }}">
            {% block title %}{{ site_name | default("weblorg website") }}{% endblock %}
          </a>
	</h1>
      </div>
      <nav>
        <ul>
          <li><a href="{{ url_for("pages", slug="a-propos") }}">À propos</a></li>
	  <li><a href="{{ url_for("pages", slug="publications") }}">Publications</a></li>
	  <!--li><a href="{{ url_for("pages", slug="cv") }}">CV</a></li-->
	  <!--li><a href="{{ url_for("pages", slug="billets") }}">Billets</a></li-->
        </ul>
      </nav>
    </header>
    {% endblock %}
    <main>
      {% block main %}{% endblock %}
    </main>
    {% block footer %}
    <footer>
      <p>Fabriqué à coups de <kbd>M-x</kbd> le {{ now() | strftime("%d %b %Y") }}, avec <a href="https://emacs.love/weblorg" target="_blank">Weblorg</a> et <a href="https://guix.gnu.org/" target="_blank">Guix</a>.</p>
      <p><a href="{{ url_for("pages", slug="a-propos") }}">Mattia Bunel,</a> <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC-BY-SA 4.0</a>, 2024.</p>
    </footer>
    {% endblock %}
  </body>
</html>
